dev logs/.obsidian/workspace
dev logs/.obsidian/hotkeys.json
dev logs/.obsidian/graph.json
dev logs/.obsidian/core-plugins.json
dev logs/.obsidian/appearance.json
dev logs/.obsidian/app.json
dev logs/.obsidian/*
